<Section style="max-width:600px;margin: auto" class="text-center">
  <form
    class="login"
    [formGroup]="bankingForgotPassForm"
    (keyup.enter)="userForgotPass()"
  >
    <ion-input
      placeholder="Email"
      formControlName="emailId"
      [ngClass]="{
        'is-invalid': submitted && getForgotPassFormControl.emailId.errors
      }"
    ></ion-input>
    <div *ngIf="submitted && getForgotPassFormControl.emailId.errors">
      <app-validation-message
        *ngIf="getForgotPassFormControl.emailId.errors.required"
        [errorMessages]="fieldValidationErrorList.email.required"
      ></app-validation-message>
      <app-validation-message
        *ngIf="getForgotPassFormControl.emailId.errors.email"
        [errorMessages]="fieldValidationErrorList.email.pattern"
      ></app-validation-message>
    </div>

    <div class="forgot-pass">
      <ion-button class="login-btn" (click)="userForgotPass()">Next</ion-button>
      <a class="forgot-email-link" routerLink="/banking">Go back to Login</a>
    </div>
  </form>
</Section>
