form{
  padding: 40px;
  .To-bank-account{
    margin: 20px 0 4px 0;
  }
}

.btn-cont{
  margin: 30px 0;
  a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
    margin: 0 10px 0 10px;
    background-color: rgb(44, 69, 120);;
    border: 1px solid rgb(44 69 120);;
  }
}
